@import "../node_modules/bootstrap/scss/bootstrap.scss";

.carousel-container {
  position: relative;
}

.carousel-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust color as needed */
  width: 100vh !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add text shadow for better readability */
}
// Default line spacing
.scrollspy-example {
  line-height: 1.6;
}

// Media query for mobile devices
@include media-breakpoint-down(sm) {
  .scrollspy-example {
    line-height: 1.4; // Adjust this value as needed
    margin-bottom: auto;
  }
  #title {
    height:min-content;
    //display: none;
  }
  #spacer-fill {
    height: 0vh !important;
    position:absolute;
  }
  #titlebox {
    display: none;
  }
}


#title {
  display: table;
  height:fit-content;
  width: 100vw;
}
