body {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top:10vh;
}
.titlebox {
    width:100vw;
    height:50vh;
    /*background-color:lightgray;*/
    z-index: -1;
}
#title {
    font-size: 3em;
    color: black;
}
hr {
    width: 15vw;
    height: 1vh;
    background-color:black;
    color: black;
    margin-left: 42.5vw !important;
}
